:root {
    --orange: #ff8c00;
    --height: 8px;
    /* --percentStar: 75%;
    --percentEnd: 100%; */
    --borderWidth: 2px;
    --segmentSpace: 3px;
}

.ratioLvl {
    position: fixed;
    bottom: 13px;
    left: 2px;
    font-weight: bold;
    font: arial;
    font-size: 11px;
}

.barBorder {
    border-radius: 3px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: calc(100vw - var(--borderWidth) * 2);
    height: var(--height);
    z-index: 0;
    border: var(--borderWidth) solid black;
}

.barInside {
    position: absolute;
    left: 0px;
    width: var(--percentStar);
    height: var(--height);
    background: var(--orange);
    z-index: -2;
}

.anim {
    animation-duration: 1s;
    animation-name: bar;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    /* https://developer.mozilla.org/fr/docs/Web/CSS/animation-fill-mode */
}

.segment {
    float: left;
    width: 12.5vw;
    height: var(--height);
    border-left: var(--segmentSpace) solid black;
    margin-left: calc(0px - var(--segmentSpace) * 2);
    /* background: grey; */
    z-index: 999;
}

@keyframes bar {
    0% {
        width: var(--percentStar);
    }
    100% {
        width: var(--percentEnd);
    }
}