.all {
    width: 100%;
    min-width: 500px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ccc;
}

.nav {
    width: 333px;
    margin: 0 auto;
    background-color: #666;
}

.switch {
    margin-right: 5px;
    border: none;
    background: none;
}

table {
    table-layout: auto;
    margin-top: 30px;
    width: 100%;
}

th {
    padding-bottom: 20px;
}

tr:nth-child(1) {
    background-color: green;
}

tr>td:nth-child(1) {
    width: 30%;
}

tr>td:nth-child(2) {
    width: 10%;
    text-align: center;
}

tr>td:nth-child(3) {
    width: 10%;
    text-align: center;
}

tr>td:nth-child(4) {
    width: 10%;
    text-align: center;
}

tr>td:nth-child(5) {
    width: 10%;
    text-align: center;
}

tr>td:nth-child(6) {
    width: 10%;
    text-align: center;
}

tr>td:nth-child(7) {
    width: 20%;
    text-align: center;
}

tr>td:nth-child(odd) {
    background-color: red;
}

tr>td:nth-child(even) {
    background-color: blue;
}

td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ratio {
    width: 100%;
    min-width: 500px;
    max-width: 1000px;
    position: absolute;
    bottom: 10px;
    margin-top: 15px;
    height: 15px;
    background-color: orange;
}

.goodratio {
    color: green;
    font-weight: 1000;
}

.badratio {
    color: red;
    font-weight: 1000;
}

* {
    background: none !important;
}